In [2]:
import pandas as pd

In [4]:
woe = pd.read_csv("../data/woedf.csv")

In [15]:
woe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1238 entries, 0 to 1237
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Variable         1238 non-null   object
 1   2cutoff          1063 non-null   string
 2   Cutoff           1171 non-null   object
 3   N                1238 non-null   int64
 4   Events           1238 non-null   int64
 5   % of Events      1238 non-null   float64
 6   Non-Events       1238 non-null   int64
 7   % of Non-Events  1238 non-null   float64
 8   WoE              1238 non-null   float64
 9   IV               1238 non-null   float64
dtypes: float64(4), int64(3), object(2), string(1)
memory usage: 106.4+ KB

In [18]:
woe.head(1)

,Variable,2cutoff,Cutoff,N,Events,% of Events,Non-Events,% of Non-Events,WoE,IV
0,P_2,"(0.889, 0.941]","(-0.46, 0.319]",548547,424060,0.307765,124487,0.029971,-2.329107,0.647012

In [14]:
woe['2cutoff'] =woe['2cutoff'].astype("string")

In [17]:
woe['min'] = woe['2cutoff'].split()

AttributeError: 'Series' object has no attribute 'split'

In [19]:
woe.head(

)

,Variable,2cutoff,Cutoff,N,Events,% of Events,Non-Events,% of Non-Events,WoE,IV
0,P_2,"(0.889, 0.941]","(-0.46, 0.319]",548547,424060,0.307765,124487,0.029971,-2.329107,0.647012
1,P_2,"(0.889, 0.941]","(0.319, 0.433]",548548,339707,0.246545,208841,0.050280,-1.589943,0.312051
2,P_2,"(0.941, 1.01]","(0.433, 0.526]",548545,264940,0.192282,283605,0.068280,-1.035354,0.128387
3,P_2,"(0.941, 1.01]","(0.526, 0.611]",548547,174087,0.126345,374460,0.090154,-0.337503,0.012215
4,P_2,"(0.941, 1.01]","(0.611, 0.694]",548546,92161,0.066887,456385,0.109877,0.496367,0.021339

In [21]:
woe['test'] = pd.Interval(woe['2cutoff'],2)

ValueError: Only numeric, Timestamp and Timedelta endpoints are allowed when constructing an Interval.